ul{
	list-style: none;
}
a{
	text-decoration: none;
}
p{
	text-align: justify;
}
/*-------------ESTILOS-------------------------------*/

/*-------------MENU LATERAL-------------------------------*/
.ContainerAluno{
	margin-top: 64px;
}


.menu_left ul li{
	display: flex;
	justify-content: flex-start;
	background-color: #C0C0C0;

}

.menu_left ul li:hover{
	background-color: #707070;
	color: #fff;
}



.menu_left ul li a{
	text-decoration: none;
	padding: 15px 20px;
	display: block;
	border-radius: 8px;
	margin: 4px 2px;	
    transition: all .6s;
    color: #4c4c4c;
    font-size:22px; 
    font-family: sans-serif;

}
.menu_left {
	height: 100%;
	font-weight: 500;
	background-color: #C0C0C0;

}

.menu_left ul{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: all .5s;
}

/*---------------NOTICIAS---------------------*/
.ContainerContent{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.titulo{		
	font-family: sans-serif;
    font-size: 45px;
    text-align: center;
}

.img_noticias{
	display: block;
	width: 450px;
	border-radius: 25px;
}

.blocos_Noticias{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.titulo_noticia{
	width: 600px;
	text-align: justify;
}
.blocos_Noticias p{
	width: 600px;
}
/*-------------MENU DO ALUNO-------------------------------*/
.menu_right{
	border-left: 1px solid #c0c0c0;

}
.perfil_aluno{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-bottom: 1px solid #c0c0c0;
}

.perfil_aluno h2{
	font-size: 20px;
}
.perfil_aluno h3{
	font-size: 15px;
	margin:0;
	padding:0;

}


.foto_perfil{
	width: 186px;
	height: 186px;
	border: .5px solid #C0C0C0;
	background-color: #DCDCDC;
}

.perfil_aluno img{
	border-radius: 300px;
}

.mural_recados h1{
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 1000;
	width: 100%;
	text-align: center;
	border-bottom: .5px solid #C0C0C0;
	margin:0;
	padding: 30px 0; 
}
.recado h2{
	text-align: center;
}
.recado p {
	margin: 0px 7px; 
}

/*-----------footer--------------------*/
.footer_copy{
	display: flex;
	justify-content: center;
	padding-top: 20px; 
    bottom: 0;
    width: 100%;
}

/*-----------GRID--------------------*/
.ContainerAluno{
	display: grid;
	grid-template-columns: 20% 60% 20%;
}
.menu_left{
	grid-column: 1;
}
.ContainerContent{
	grid-column: 2;
}
.menu_right{
	grid-column: 3;
}


.menu_right{
	display: grid;
	grid-template-rows: 25% 75%;
}
