<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>FIT - Faculdade Impacta Tecnologia</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="../static/css/estilo_header_footer.css">
		<link rel="stylesheet" href="../static/css/StyleAluno.css">
		<link href="../static/css/fontes/titillium-web.css" rel="stylesheet" />
		<link rel="shortcut icon" href="../static/img/logo_title.png">
		<script type="text/javascript" src="../js/script.js"> </script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
	<header class="header">
		<input type="checkbox" id="btnreder">
		<label for="btnreder">&#9776;</label>
		<nav class="reder">
			<a href="index.html" class="logo_header">
				<img src="../static/img/logo.png" alt="Logo da Impacta">
			</a>

			<ul class="topo_do_reder">
				<li><a href="index.html">Home</a></li>
				<li><a href="sobre.html">Sobre</a></li>
				<li><a href="contato.html">Contato</a></li>
			
			</ul>			
		</nav>
		<nav class="log_right">
			<ul class="log_cad_header">
				<li class="log_header">
					<a href="login.html" role="button">LOGIN</a>
				</li>
				<li class="cad_header">
					<a href="cadastro.html" role="button">FAÇA SUA MATRÍCULA</a>
				</li>
			</ul>
		</nav>
		<nav class="invis_menu">
			<a href="cadastro.html"><img src="../static/img/cadastro.png" alt="logo cadastro"></a>
		</nav>		
		<nav class="invis_menu">
			<a href="cadastro.html"><img src="../static/img/login.png" alt="logo login"></a>
		</nav>
	</header>
	<!--=============================================================================-->


	
	<main class="ContainerAluno">
		<!--=========MENU LATERAL===================-->
		<section class="menu_left">
			<ul>
				<li><a href="#"> Atividades </a></li>
				<li><a href="#"> Pendencias </a></li>
				<li><a href="#"> Contate um Professor </a></li>
			</ul>			
		</section>
	<!--==============CONTEUDO======================-->

		<section class="ContainerContent">

				<h1 class="titulo">Notícias</h1>	

				<div class="blocos_Noticias">
					<img class="img_noticias" src="../static/img/noticia1.jpg" alt="Alunos ganharam"/>
					<h2 class="titulo_noticia">Alunos da Faculdade Impacta vencem a 5.ª edição do Hackathon da FIESP</h2>
					<p>
						"Sou aluna da Faculdade Impacta, e estou muito satisfeita com metodologia de ensino que eles utilizam é excelente, aulas gravadas e professores de altos níveis além de uma infra-estrutura apropriada para atender todos os tipos de alunos. Parabéns !!"
						
					</p>

				</div>

				<div class="blocos_Noticias">
					<img class="img_noticias" src="../static/img/imagem2.jpg" alt="Alunos ganharam"/>
					<h2 class="titulo_noticia">Alunos da Faculdade Impacta vencem a 5.ª edição do Hackathon da FIESP</h2>
					<p>
						"Sou aluna da Faculdade Impacta, e estou muito satisfeita com metodologia de ensino que eles utilizam é excelente, aulas gravadas e professores de altos níveis além de uma infra-estrutura apropriada para atender todos os tipos de alunos. Parabéns !!"
						
					</p>

				</div>

				<footer class="footer_copy"><p>&copy; Impacta 2017. Todos os direitos reservados.</p></div>


		</section>
		<!--=============Painel do Aluno======================-->
		<section class="menu_right">

			<div class="perfil_aluno">

				<img src="../static/img/dep01.jpg" alt="Imagem de Perfil">
				<h2>Matheus Pereira Pinto</h2>
				<h3>Ra: 1700688 / Curso: SI - 2B</h3>
			</div>

			<div class="mural_recados">
				<h1>Mural de recados</h1>

				<div class="recado">
					<h2>Trabalho Dev. Ops</h2>
					<p>
						Nessa terça feira haverá um trabalho avaliativo 
						de Dev. Ops vai valer nota entao tem qu evir 
						porque senao vai ficar com falta e com 0 na 
						media! :)
					</p>
				</div>

				<div class="recado">
					<h2>Professor Yuri</h2>
					<p>
						Hoje o professor Yuri vai fazer uma apresentação
						de como fazer o Django funcionar, é muito dificil
						quem faltar falece.
					</p>
				</div>

			</div>
			
		</section>
		
	</main>


	
	
</body>
</html>