<!DOCTYPE html>
<html lang="pt-br">
	<head>		
		{% include 'content_base.html' %}
		{% block head %}

		{% endblock %}
   </head>
<body>
	{% block header %}
	
	{% endblock %}

	<main class="conteudo">
		<div class="container-2x1">
			<div class="PgCadastro">
				<div class="Cadastro">
				        <div class="FrmCadastro">
							<h1 class="titulo_form_contato">Entre em Contato conosco!!!</h1>
					  
							<form id="FrmCadastro" tabindex="1" method="POST" action="concluido.html" >
								<div class="row">
									 <label for="nome">*Nome:</label>
									<input id="nome" name="nome" required="" type="text" placeholder="Nome"/>
								 </div>
								 <div class="row">
										<label for="email">*E-Mail:</label>
										<input id="email" name="email" required="" type="email" placeholder="Digite o seu endereço de email...."/>
								</div>
								 <div class="row">
										<label for="tel">Tel/cel:</label>
										<input id="tel" name="tel"  type="tel" placeholder="Telefone:"/>
								 </div>
								
								  <div class="row">
										<label for="mensagem">*Mensagem: </label>
										<textarea id="mensagem" name="mensagem" required="" type="tel" maxlength="200" placeholder="Digite sua mensagem(máximo 200 caracteres)"></textarea>
								 </div>
								 <div class="">
										<button class="botao" type="submit">Enviar</button>
								 </div>
							 </form>
					   </div>
				  </div>
			
			</div>
		</div>
	</main>
	
	<footer class="footer_copy"><p>&copy; Impacta 2017. Todos os direitos reservados.</p></div>

	
	
</body>
</html>