<!DOCTYPE html>
<html lang="pt-br">
	<head>		
		{% include 'content_base.html' %}
		{% block head %}

		{% endblock %}
   </head>
<body>
	{% block header %}
	
	{% endblock %}



	
	<div id="main" class="container"> 	
	 <form name="loginform" id="loginform" action="concluido.html" method="post" class="wpl-track-me"> 
	 	<h1 class="h1_form_Esqueci">Esqueci minha senha</h1>
		<p class="login-usernameRec">			
	
			<input type="password" name="senha" id="senha" class="input" placeholder="Digite sua nova senha" value="" size="20" /> 
		</p> 

		<p class="login-password"> 


		<input type="password" name="senha_novamente" id="senha_novamente" class="input" placeholder="Digite novamente.." value="" size="20" /> 
		</p> 	
		
		<p class="login-submit"><input type="submit" name="wp-submit" id="wp-submit" class="button-primary" value="Confirmar" />
		<input type="hidden" name="redirect_to" value="#"/>
		</p> 
	
		
		</p>

		
	</form> 
</div>
	



	<footer class="footer_copy"><p>&copy; Impacta 2017. Todos os direitos reservados.</p></div>

</body>
</html>